<div style="padding: 20px;">
    <h1>Conditions générales d'utilisation (CGU)</h1>    <strong> Article 1 - Objet</strong> <br>
    Les présentes Conditions Générales d'Utilisation (CGU) ont pour objet de définir les modalités et conditions d'utilisation du site e-commerce <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a>
    par les utilisateurs et clients.
    <br><br>
    <strong> Article 2 - Acceptation des CGU</strong> <br>
    L'utilisation du site implique l'acceptation pleine et entière des présentes CGU. En accédant au site, l'utilisateur reconnaît avoir pris connaissance des conditions et s'engage à les respecter.
    <br><br>
    <strong> Article 3 - Accès au site</strong> <br>
    Le site est accessible à tout utilisateur disposant d'une connexion internet. Certaines parties du site peuvent nécessiter la création d'un compte utilisateur.
    <br><br>
    <strong> Article 4 - Produits et Services</strong> <br>
    Le site propose à la vente divers produits et services, dont les caractéristiques et les prix sont précisés sur les fiches descriptives. Les offres sont valables dans la limite des stocks disponibles.
    <br><br>
    <strong> Article 5 - Commandes</strong> <br>
    Toute commande effectuée sur le site implique l'acceptation des Conditions Générales de Vente (CGV). L'utilisateur s'engage à fournir des informations exactes lors de la passation de commande.
    <br><br>
    <strong> Article 6 - Responsabilité</strong> <br>
    Le site s'efforce d'assurer la fiabilité des informations publiées, mais ne saurait être tenu responsable des erreurs ou omissions. L'utilisateur est responsable de l'utilisation qu'il fait du site et des conséquences qui en découlent.
    <br><br>
    <strong> Article 7 - Protection des données personnelles</strong> <br>
    Les informations recueillies lors de l'utilisation du site sont traitées conformément à notre politique de confidentialité. Ces informations incluent, sans s'y limiter, des données relatives aux pages consultées, aux URLs visitées, au temps passé sur chaque page, ainsi que l'adresse IP de l'utilisateur. L'adresse IP est utilisée pour collecter des informations sur la navigation des utilisateurs, afin d'améliorer l'expérience et d'optimiser les services proposés par le site.
    Ces données sont traitées de manière anonyme et ne permettent pas d'identifier directement l'utilisateur, sauf si des actions supplémentaires sont entreprises par l'utilisateur (par exemple, création d'un compte). L'utilisateur dispose d'un droit d'accès, de rectification et de suppression des données le concernant conformément à la législation en vigueur sur la protection des données personnelles.
    Pour plus de détails sur la gestion de vos données personnelles, veuillez consulter notre politique de confidentialité.
    <br><br>
    <strong> Article 7.1 - Utilisation des cookies et du suivi des utilisateurs</strong> 
    Le site utilise des cookies et d'autres technologies de suivi pour recueillir des informations sur la navigation de l'utilisateur, telles que le nombre de pages consultées, les URLs visitées, le temps passé sur chaque page, et l'adresse IP de l'utilisateur. Ces informations sont utilisées pour personnaliser votre expérience sur le site et améliorer la performance des services proposés.
    L'adresse IP est collectée de manière anonyme et utilisée pour mieux comprendre la provenance géographique des utilisateurs et optimiser la navigation sur le site. Ces données ne sont pas utilisées pour identifier personnellement les utilisateurs, sauf dans des circonstances exceptionnelles définies par la loi.
    En utilisant ce site, vous consentez à l'utilisation de ces technologies de suivi, à moins que vous n'ayez configuré votre navigateur pour refuser les cookies. Vous pouvez modifier vos préférences en matière de cookies à tout moment via les paramètres de votre navigateur ou en accédant à notre outil de gestion des cookies sur le site.
    <br><br>
    <strong> Article 8 - Propriété intellectuelle</strong> <br>
    Tous les contenus présents sur le site (textes, images, logos, etc.) sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée est interdite.
    <br><br>
    <strong> Article 9 - Modification des CGU</strong> <br>
    Le site se réserve le droit de modifier les présentes CGU à tout moment. Les utilisateurs seront informés de toute modification via une publication sur le site.
    <br><br>
    <strong> Article 10 - Droit applicable et juridiction compétente</strong> <br>
    Les présentes CGU sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du siège social de l'entreprise exploitant le site.
    <br><br>
    <strong> Article 11 - Contact</strong> <br>
    Pour toute question relative aux présentes CGU, vous pouvez nous contacter à l'adresse suivante : contact&#64;optical-factory.
</div>