<app-nav-bar></app-nav-bar>

<div class="glasse-view-banner">
</div>
<div class="container cgu-container">
    <h1 class="text-center mb-4">📜 Conditions Générales d'Utilisation (CGU)</h1>
  
    <div class="card shadow-sm">
      <div class="card-body">
        <div *ngFor="let section of cguSections" class="mb-4">
          <h3 class="text-primary">
            <i class="bi bi-chevron-right"></i> {{ section.title }}
          </h3>
          <p>{{ section.content }}</p>
        </div>
      </div>
    </div>
  
    <div class="text-center mt-4">
      <button class="btn btn-primary" (click)="navigate_to_home()">🏠 Retour à l'accueil</button>
    </div>
  </div>
  