<footer>
  <nav class="footer-nav">
    <div>
      <a class="footer-item" routerLink="/cgu" routerLinkActive="active">
        <i class="fas fa-scale-unbalanced-flip"></i>
        <span>CGU</span>
      </a>
      <a class="footer-item" routerLink="/cgv" routerLinkActive="active">
        <i class="fas fa-scale-unbalanced"></i>
        <span>CGV</span>
      </a>
    </div>
    <div>
      <a class="footer-item" routerLink="/faq" routerLinkActive="active">
        <i class="fas fa-circle-info"></i>
        <span>FAQ</span>
      </a>
      <a class="footer-item" routerLink="/contact" routerLinkActive="active">
        <i class="fas fa-address-book"></i>
        <span>Contact</span>
      </a> 
    </div>
    <div>
      <a class="footer-item" routerLink="/mentions-legales" routerLinkActive="active">
        <i class="fas fa-shield-halved"></i>
        <span>Mentions Légales</span>
      </a> 
      <a class="footer-item" routerLink="/cookies" routerLinkActive="active">
        <i class="fas fa-cookie"></i>
        <span>Cookies</span>
      </a> 
    </div>
    <div>
      <a class="footer-item" routerLink="/politique-de-confidentialite" routerLinkActive="active">
        <i class="fas fa-user-lock"></i>
        <span>Politique de confidentialité</span>
      </a> 
      <a class="footer-item" routerLink="/retour-remboursement" routerLinkActive="active">
        <i class="fas fa-solid fa-truck-fast"></i>
        <span>Retours & Remboursements</span>
      </a> 
    </div>
  </nav>
</footer>
