<div style="padding: 20px;">
    <h1>Conditions générales de ventes (CGV)</h1>
    <strong>Article 1 - Objet</strong> <br>
    Les présentes Conditions Générales de Vente (CGV) ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne de produits et services proposés par <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a>, spécialisés dans la vente de lunettes de vue, lunettes de soleil, lentilles de contact, ainsi que les services associés (essai de lunettes virtuel, conseils optiques, etc.).
    <br><br>
    <strong>Article 2 - Acceptation des CGV</strong> <br>
    Toute commande effectuée sur le site <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> implique l'acceptation pleine et entière des présentes CGV. L'utilisateur reconnaît avoir pris connaissance des conditions générales et s'engage à les respecter. Cette acceptation s'effectue lors de la validation de la commande par l'utilisateur.
    <br><br>
    <strong>Article 3 - Produits et Services</strong> <br>
    Les produits et services proposés à la vente sont présentés avec leurs caractéristiques essentielles, les informations sur les dimensions, les matériaux, les coloris disponibles, ainsi que leur prix. Les offres sont valables dans la limite des stocks disponibles. <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> se réserve le droit de modifier l'assortiment de produits et services sans préavis.
    <br><br>
    <strong>Article 4 - Prix et Modalités de Paiement</strong> <br>
    Les prix des produits sont indiqués en euros (€) et toutes taxes comprises (TTC). Les frais de livraison et autres frais supplémentaires, le cas échéant, seront précisés lors du processus de commande. Le paiement des produits s'effectue via les moyens de paiement sécurisés acceptés sur le site, tels que les cartes bancaires (Visa, Mastercard, etc.), PayPal, et d'autres solutions de paiement en ligne.
    <br><br>
    <strong>Article 5 - Commande</strong> <br>
    L'utilisateur s'engage à fournir des informations exactes et complètes lors de la passation de commande. Toute commande ne sera considérée comme définitive qu'après validation du paiement et réception d'une confirmation de commande envoyée par <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> par e-mail. En cas d'erreur dans les informations fournies, <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> se réserve le droit d'annuler ou de suspendre la commande.
    <br><br>
    <strong>Article 6 - Livraison</strong> <br>
    Les délais de livraison sont indiqués lors de la commande et dépendent du mode de livraison choisi par l'utilisateur. Les délais sont fournis à titre indicatif et ne sont pas garantis. En cas de retard de livraison, l'utilisateur sera informé dans les meilleurs délais. OpticalFactory.fr ne pourra être tenu responsable des retards causés par des événements extérieurs ou par des prestataires tiers de livraison. Les frais de livraison sont calculés en fonction de l'adresse de livraison, du poids des produits et du mode de transport choisi.
    <br><br>
    <strong>Article 7 - Droit de Rétractation</strong> <br>
    Conformément à la législation en vigueur, l'utilisateur dispose d'un délai de 14 jours à compter de la réception du produit pour exercer son droit de rétractation, sans avoir à justifier de motif ni à payer de pénalité. Le produit doit être retourné dans son état d'origine (neuf, non utilisé, dans son emballage d'origine), et <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> s'engage à rembourser le montant de la commande, y compris les frais de livraison standard, dans un délai de 14 jours après réception du produit retourné.
    <br>
    Les produits personnalisés (par exemple, lunettes sur ordonnance ou lentilles de contact) ne peuvent pas faire l'objet d'un droit de rétractation, sauf en cas de défaut ou de non-conformité.    <br><br>
    <strong>Article 8 - Garanties et Responsabilité</strong> <br>
    Les produits vendus sur <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> bénéficient des garanties légales de conformité et contre les vices cachés, conformément aux dispositions du Code de la consommation. En cas de produit défectueux, l'utilisateur peut demander un échange ou un remboursement.
    <br>
    La responsabilité de <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> ne pourra être engagée en cas de mauvaise utilisation du produit ou de négligence de la part de l'utilisateur, notamment pour les produits liés à la santé des yeux (lunettes de vue, lentilles de contact).
    <br><br>
    <strong>Article 9 - Protection des Données Personnelles</strong> <br>
    Les informations collectées lors de l'utilisation du site <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> sont traitées conformément à notre politique de confidentialité. Ces informations peuvent inclure des données personnelles nécessaires à l'exécution des commandes (nom, adresse, informations de paiement) ainsi que des informations sur les préférences en matière de produits. <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a> s'engage à protéger ces données conformément au Règlement Général sur la Protection des Données (RGPD).
    <br>
    L'utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition sur ses données personnelles, qu'il peut exercer en envoyant une demande à l'adresse suivante : [adresse e-mail de contact].
    <br><br>
    <strong>Article 10 - Droit Applicable et Litiges</strong> <br>
    Les présentes CGV sont soumises au droit français. En cas de litige, les parties s'efforceront de trouver une solution amiable avant toute action judiciaire. À défaut d'accord amiable, les tribunaux compétents seront ceux du ressort du siège social de <a href="https://www.opticalfactory.fr/" target="_blank" rel="noopener noreferrer">Opticalfactory.fr</a>.
    <br><br>
    <strong>Article 11 - Contact</strong> <br>
    Pour toute question relative aux présentes CGV ou pour toute demande d'information, vous pouvez nous contacter à l'adresse suivante :
    <br>
    Email : contact&#64;optical-factory.fr
    <br>
    Téléphone : 0123456789
</div>
