<app-nav-bar></app-nav-bar>
<div class="profile-card" *ngIf="auth.user$ | async as user">
  <div class="card">
    <div class="card-body text-center">
      <!-- Image de profil -->
      <img [src]="user.picture" alt="Image de profil" class="profile-img rounded-circle">
      
      <!-- Nom de l'utilisateur -->
      <h3 class="profile-name">{{ user.given_name }} {{ user.family_name }}</h3>
      
      <!-- Informations supplémentaires -->
      <p><strong>Nom d'utilisateur :</strong> {{ user.nickname }}</p>
      <p><strong>Email :</strong> {{ user.email }}</p>
      <p><strong>Email vérifié :</strong> {{ user.email_verified ? 'Oui' : 'Non' }}</p>
      
      <!-- Date de la dernière mise à jour -->
      <p><small><strong>Dernière mise à jour :</strong> {{ user.updated_at }}</small></p>
    </div>
  </div>
</div>
