<div style="padding: 20px;">
    <h1>Politique de retour & remboursements</h1>
    <strong>Article 1 - Objet</strong> <br>
    La présente politique de retours et remboursements a pour objectif de vous informer sur les conditions et modalités de retour et de remboursement des produits achetés sur notre site e-commerce [Nom du site]. En passant commande sur notre site, vous acceptez les termes de cette politique.
    <br><br>

    <strong>Article 2 - Conditions de retour</strong> <br>
    Nous acceptons les retours des produits sous certaines conditions :
    <ul>
        <li><strong>Délai de retour</strong> : Vous disposez d'un délai de 14 jours calendaires à partir de la réception de votre commande pour effectuer une demande de retour.</li>
        <li><strong>État du produit</strong> : Les produits retournés doivent être dans leur état d'origine, non utilisés, non ouverts (sauf dans le cas où le produit est défectueux) et accompagnés de leur emballage d'origine, de la facture et du bon de retour.</li>
        <li><strong>Exemples de produits non retournables</strong> : Les produits périssables, les produits personnalisés ou les produits qui ont été ouverts ou utilisés (comme les produits d'hygiène ou cosmétiques) ne peuvent pas être retournés.</li>
    </ul>

    <strong>Article 3 - Processus de retour</strong> <br>
    Pour effectuer un retour, veuillez suivre les étapes suivantes :
    <ul>
        <li><strong>Étape 1 :</strong> Contactez notre service client à l'adresse [adresse e-mail de contact] ou via notre formulaire de contact pour nous informer de votre souhait de retourner un produit.</li>
        <li><strong>Étape 2 :</strong> Nous vous enverrons un bon de retour ainsi que les instructions pour renvoyer le produit à notre entrepôt. Les frais de retour sont à la charge du client, sauf si le produit est défectueux ou non conforme à la commande.</li>
        <li><strong>Étape 3 :</strong> Emballez soigneusement les produits dans leur emballage d'origine, et joignez la facture ainsi que le bon de retour fourni. Envoyez le colis à l'adresse suivante : [adresse de retour].</li>
    </ul>

    <strong>Article 4 - Conditions de remboursement</strong> <br>
    Une fois que nous aurons reçu et vérifié le produit retourné, nous procéderons à votre remboursement dans un délai de 14 jours maximum, selon la méthode de paiement utilisée pour l'achat. Le remboursement inclura le montant du produit retourné, mais ne couvrira pas les frais de livraison initiaux, sauf si le produit est défectueux ou non conforme.
    <br><br>
    <strong>Article 5 - Produits défectueux ou non conformes</strong> <br>
    Si vous avez reçu un produit défectueux ou non conforme à votre commande, veuillez nous en informer dans les 48 heures suivant la réception. Nous organiserons un retour gratuit et procéderons soit à un échange, soit à un remboursement intégral, selon votre préférence.
    <br><br>

    <strong>Article 6 - Échanges</strong> <br>
    Nous n'effectuons pas directement d'échanges. Si vous souhaitez échanger un produit, vous devez retourner l'article d'origine dans les conditions mentionnées ci-dessus et passer une nouvelle commande pour le produit souhaité.
    <br><br>

    <strong>Article 7 - Retours de produits en solde</strong> <br>
    Les produits achetés en solde ou pendant des promotions spéciales peuvent être soumis à des conditions de retour différentes. Veuillez vérifier les conditions spécifiques mentionnées sur la page du produit ou lors du processus d'achat.
    <br><br>

    <strong>Article 8 - Frais de retour</strong> <br>
    En règle générale, les frais de retour sont à la charge du client, sauf si le produit est défectueux ou non conforme. Nous vous conseillons d'utiliser un service de livraison suivi pour retourner les produits, afin d'éviter toute perte ou dommage pendant le transport.
    <br><br>

    <strong>Article 9 - Contact</strong> <br>
    Pour toute question concernant nos retours et remboursements, n'hésitez pas à contacter notre service client à l'adresse suivante : [adresse e-mail de contact] ou par téléphone au [numéro de téléphone]. Nous nous engageons à vous répondre dans les plus brefs délais.
    <br><br>

    <strong>Article 10 - Modifications de la politique de retours et remboursements</strong> <br>
    Nous nous réservons le droit de modifier cette politique de retours et remboursements à tout moment. Toute modification sera publiée sur cette page avec la date de mise à jour. Nous vous encourageons à consulter régulièrement cette politique pour être informé des éventuelles mises à jour.
</div>
