.main-section {
    margin-left: 80px;
}

.center-index {
  display: flex;
  padding: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
.title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.access-btn-power-bi {
  display: block;
  margin: auto;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.banner-home {
    margin-left: 20px;
    height: 300px;
    width: 98%;
  }
.banner-solde {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    padding: 20px;
    border-radius: 10px;
    height: 120px;
    color: #fff;
  }
  .banner-solde > h2, .banner-solde > p {
    color: #fff;
  }
  .progress {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
  }

@media (max-width: 800px) {
    .center-index {
        flex-direction: column;
    }
}